<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1>ADD DOCTORS</h1>

<form th:action="@{/doctors/add}" th:object="${d}" method="post">
    <h3 th:if="${error}" th:text="${error}"></h3>
    <div>
        <label for="fullName">Full name</label>
        <input type="text" id="fullName" th:field="*{fullName}">
        <small th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}"></small>
    </div>

    <div>
        <label for="specialization">Specialization</label>
        <input type="text" id="specialization" th:field="*{specialization}">
        <small th:if="${#fields.hasErrors('specialization')}" th:errors="*{specialization}"></small>
    </div>

    <div>
        <label for="contact">Contact</label>
        <input type="text" id="contact" th:field="*{contact}">
        <small th:if="${#fields.hasErrors('contact')}" th:errors="*{contact}"></small>
    </div>

    <div>
        <label for="phone">Phone</label>
        <input type="text" id="phone" th:field="*{phone}">
        <small th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></small>
    </div>

    <div>
        <input type="submit" value="Add">
        <input type="reset" value="Clear">
    </div>
</form>

<a th:href="@{/doctors}">Back</a>
</body>
</html>