<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Patient</title>
</head>
<body>
<h1>LIST PATIENTS</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Full Name</th>
        <th>DOB</th>
        <th>Contact</th>
        <th>Phone</th>

        <th>Update</th>
        <th>Delete</th>
    </tr>
    <tr th:each="app:${appointments}">
        <td th:text="${app.id}"></td>
        <td th:text="${app.date}"></td>
        <td th:text="${app.hour}"></td>
        <td th:text="${app.doctor.fullName}"></td>
        <td th:text="${app.patient.fullName}"></td>
        <td>
            <a th:href="@{patients/update/{id}(id=${pat.id})}">Update</a>
        </td>
        <td>
            <a th:href="@{patients/delete/{id}(id=${pat.id})}"
               onclick="return confirm('Delete?')">Delete</a>
        </td>

    </tr>
</table>
<a th:href="@{/appointments/add}">Add Appointment</a>
</body>
</html>